{% extends 'base.html' %}

{% block title %}Text Board App{% endblock title %}

{% block content %}
<div class="about-container">
    <h1 class="about-title">About The Developer</h1>
    {% load static %}
    <img src="{% static 'img/profile.jpeg' %}" alt="Description of image" class="profile-picture">
    <h3 class="about-subtitle">Emiliano Reyes a developer from <a href="">literal hell</a></h3>
    <p class="about-description">Became a developer through heavy Lorem ipsum usage</p>
</div>
{% endblock content %}