{% extends 'base.html' %}

{% block title %}Text Board App{% endblock title %}

{% block content %}
<div class="home-flex">
      <div class="home-container container">
            <h1 class="title-center">Alternative Message Board</h1>
            <h3 class="subtitle-center">Our shared commitment for digital transparency unites us.</h3>
            <p class="home-description">Alternative Message Board (AMBoard) was created to empower users to share and explore Free and Open Source Software (FOSS), driven by a commitment to freedom, transparency, and collaboration. Originally dedicated to fostering an open dialogue around software, AMBoard has since evolved to encompass a wide spectrum of topics, welcoming discussions on everything from technology and science to philosophy, art, and beyond. Here, users find a space to voice ideas freely, exchange diverse viewpoints, and engage in meaningful discussions on issues that matter—all within an environment that prioritizes open access, respect for free expression, and a strong stance on transparency.</p>
      </div>
</div>
{% endblock content %}